.form-inline > * {
   margin-right: 5px;
}

#ExecutionSpinner {
    display: none;
    color: green;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 5em;
    height: 5em;
}

#VINInput {
    width: 30ch;
}

#ErrorMessage {
    display: none;
    font-weight: bold;
    color: darkred;
}

#VehicleData {
    display: none;
}

#main-container {
    width: 90%;
    display: block;
    margin: auto;
}

.ExampleText {
    color: grey;
    font-weight: lighter;
    padding-top: 15px;
}
